header.header
  .container
    .header__top
      a.logo
        img.logo(src="../img/logo-webovio.svg" alt="logo")
      button.header__btn
        img.header__btn(src="../img/header-btn.svg" alt="button")
    .header__content
      p.header__content-text A place where 
      h1.header__content-title A creative agency for redemptive brands
      p.header__content-text Anteelo is a leading strategic design firm that builds powerful digital solutions for startups and enterprises.
      a.header__content-link(href="#")
        img(src="../img/get-hover.svg" alt="")

